<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="8696763d-0637-43d0-8e5f-70596705fa6c"
            Publisher="CN=jflam"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>MetroPix</DisplayName>
    <PublisherDisplayName>jflam</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>MetroPix</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="MetroPix.App">
        <VisualElements
            DisplayName="MetroPix"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="MetroPix"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>